/*****hunter*****/
/* #hunter(headerhdmc0pmwml) #css starts  */
.headerhdmc0pmwml .logo{
    max-height: 35px
}
.headerhdmc0pmwml .navbar-light .navbar-nav .nav-link {
    color: #3C3B37
}
.headerhdmc0pmwml .navbar-light .navbar-nav .nav-link:hover {
    color: #1eb2a6
}
/* #hunter(headerhdmc0pmwml) #css ends  */
/*****hunter*****/

/*****agent*****/
    /* #agent(1e3f52aae36e7047) #css starts  */
    .aboutd1e3f52aae36e7047 {
        padding: 2.5rem 0
    }
    .aboutd1e3f52aae36e7047 .DescriptionHeading {
        color: #1eb2a6;
        font-size: 50px
    }

    .aboutd1e3f52aae36e7047 .DescriptionPara {
        color: #808080;
        font-size: 20px
    }
   .aboutd1e3f52aae36e7047 .btn-outline-secondary:not(:disabled):not(.disabled):active,
   .aboutd1e3f52aae36e7047 .btn-outline-secondary:hover {
    color: #fff;
    background-color: #EA5252;
    border-color: #EA5252
   }
    /* #agent(1e3f52aae36e7047) #css ends  */
/*****agent*****/

/*****sammy*****/
    /* #sammy(ebfcf165e4ae5852) #css starts  */
    .serviceebfcf165e4ae5852 h2 {
        font-size: 32px
    }
    .serviceebfcf165e4ae5852 {
        padding: 2.5rem 0
    }
    /* #sammy(ebfcf165e4ae5852) #css ends  */
/*****sammy*****/

/*****cash*****/
    /* #cash(c1486b52e923e265f) #css starts  */
    .counterc1486b52e923e265f {
        padding: 2.5rem 0
    }
    .counterc1486b52e923e265f .BG{
        background-color:#fff
    }
    .counterc1486b52e923e265f h2{
        color: #1eb2a6 
    }
    /* #cash(c1486b52e923e265f) #css ends  */
/*****cash*****/

/*****funtush*****/
    /* #funtush(funtushftac0ssp3mu) #css starts  */
    .funtushftac0ssp3mu{
        padding: 2.5rem 0
    }
    .funtushftac0ssp3mu .lead {
        font-size: 20px
    }
    .funtushftac0ssp3mu h3 {
        margin-top: 10px
    }
    /* #funtush(funtushftac0ssp3mu) #css ends  */
/*****funtush*****/

/*****frankie*****/
    /* #frankie(frankiepo48kr6e3hi) #css starts  */
    .frankiepo48kr6e3hi{
        padding: 2.5rem 0
    }
    .frankiepo48kr6e3hi a{ 
        color: #1eb2a6
    }
    /* #frankie(frankiepo48kr6e3hi) #css ends  */
/*****frankie*****/

/*****teddy*****/
    /* #teddy(testimonialprz03sp248l) #css starts  */
    .testimonialprz03sp248l {
        padding: 2.5rem 0
    }
    /* #teddy(testimonialprz03sp248l) #css ends  */
/*****teddy*****/

/*****pyotr*****/
    /* #pyotr(priceshdm5xsomioi) #css starts  */
    .priceshdm5xsomioi .btn-primary{
        color: #fff;
        background-color: #EA5252;
        border-color: #EA5252
    }

    .priceshdm5xsomioi .fdb-block {
    padding: 2.5rem 0
}
.priceshdm5xsomioi .btn-primary:not(:disabled):not(.disabled):active,
.priceshdm5xsomioi .btn-primary:focus{
    color: #fff;
    background-color: #EA5252;
    border-color: #EA5252
}
    /* #pyotr(priceshdm5xsomioi) #css ends  */
/*****pyotr*****/

/*****fan*****/
/* #fan(formftnfjhyddgg) #css starts */  
.formftnfjhyddgg .fdb-block {
    padding: 2.5rem 0
 }

 .formftnfjhyddgg .logo{
    max-height: 40px;
    display: none;
 }

 .formftnfjhyddgg h1{
    font-size: 32px
 }
 .formftnfjhyddgg .btn-primary{
    color: #fff;
    background-color: #EA5252;
    border-color: #EA5252
}
.formftnfjhyddgg .btn-primary:not(:disabled):not(.disabled):active,
.formftnfjhyddgg .btn-primary:focus{
color: #fff;
background-color: #EA5252;
border-color: #EA5252
}
/* #fan(formftnfjhyddgg) #css starts */
/*****fan*****/

/*****flores*****/
    /* #flores(floresfts2q9glqh3) #css starts */
    .floresfts2q9glqh3 .fdb-block {
        padding: 2.5rem 0
     }
     .floresfts2q9glqh3 a {
        color: #1eb2a6
     }
     .floresfts2q9glqh3 a:hover {
        color: #1eb2a6
     }
    /* #flores(floresfts2q9glqh3) #css ends */
/*****flores*****/